html{
  background-color:#CCC  
}                      

body{
  font-size:62.5%;
  width:1000px;
  text-align:center;
  margin:auto;
  background-color:white;
} 

#tabs-page{
  min-width:330px;
  min-height:50em;
}                 

#tabs{
  float:right;
}             

#search-bar{
  float:left;
  height:30px;
  vertical-align:middle;
  display:table-cell;
  min-width:30em
} 

#content{
  vertical-align:top; 
  text-align: left;
  padding:15px;
}

#right-content{
  vertical-align:top; 
  text-align: left;
  padding:15px;
}

#legal-footer{
  color:#CCC;
  font-size:10px;
  width:100%;
  text-align:center;
}

.tent-pole{
  clear:both;
}            

.module-div{
  border: #030 thin solid; 
  width:100%;
  margin:5px;
  height:200px;
  vertical-align:middle;
}

.post {
	width:100%;
	height:115px
}
.textwrapper {
	margin:5px 0;
	padding:3px;
}     

/* =================================================================================================================== */
/* = App Specific ==================================================================================================== */
/* =================================================================================================================== */

.error_messages{
  width: 75%;
  border: 1px solid red;
  background: #FFEEEE;
  padding: 15px;
  margin: 15px 0;
}

.error_messages h2{
  margin-top: 0;
}

.default-form .field{
  margin-bottom: 5px;
}

.default-form .field p{
  margin:0;
}

.default-form p{
  margin:0;   
  margin-top: 15px;
}

#flash_notice{
  width: 750px;
  border: 1px solid green;
  background: #EEFFEE;
  padding: 15px;
  margin: 5px auto ;
}

#flash_alert{
  width: 750px;
  border: 1px solid red;
  background: #FFEEEE;
  padding: 15px;
  margin: 5px auto ;
}

#user_nav{
  float: right;
  padding: 5px;
  margin: 15px 0;
  border: 1px solid #EEEEEE;
}

.index-table{
  border: 1px solid #EEEEEE;
}

.index-table th{
  background: #EEEEEE;
}
.index-table .even-row{
  background: #EEEEEE;
}                       

#admin-menu{    
  float: left;
  margin: 5px 0;
  background: #EEEEEE;
  padding: 3px;
  clear: both;       
  margin-left: 15px;
  width: 100%;
}

#admin-menu ul{
  display: block;
  list-style: none;
}

#admin-menu li{
  float: left;
  padding: 3px;
  margin: 0 10px 10px 0;
}

.show-table{
  border: 1px solid #EEEEEE;
}

.show-table th{
  background: #EEEEEE;
}
.show-table .odd-row{
  background: #EEEEEE;
}                       

/* Rant stuff */
.home-page-rant{
  border: 1px solid #EEEEEE;
  margin-bottom: 5px;
  padding: 0px 5px 5px 5px;
}

.home-page-rant h1{
  font-size: 100%;
  font-weight:bold;
  margin: 0;
}

.home-page-rant h2{
  font-size: 100%;
  font-weight:normal;
  font-style: italic;
  margin: 0;
}

.home-page-rant .header{
  
}

.home-page-rant .photo{
  float: left;
}

.home-page-rant img{
  border: 1px solid black;
  margin-top: 10px;
}

.home-page-rant .title{
  padding-top: 10px;
  padding-left: 10px;
  float: left;
}

.home-page-rant .body{
  margin: 0;
  clear: both;
}   

/* ===================== */
/* = User widget stuff = */
/* ===================== */

#user-widget{
  border: 1px solid #EEEEEE;
  padding: 0 5px 0 5px;
  width: 165px;
} 

#user-widget h1{
  margin: 5px 0 0 5px;
  font-size: 130%;
}          

#user-widget h2{
  margin: 5px 0 0 0;
  font-size: 110%;
}          

.user-widget-follow{
  margin: 5px;
}

.user-widget-account-controls{
  text-align: center;
  border-top: 1px solid #EEEEEE;
  padding: 5px;
}