/* Put all styles after the App Specific comment as everything above is subject to wholesale change. */

body {
	margin:0;
	padding:0;
	border:0;			/* This removes the border around the viewport in old versions of IE */
	width:100%;
	background:#fff;
	width:1000px;    	/* Minimum width of layout - remove line if not required */
					/* The min-width property does not work in old versions of Internet Explorer */
	font-size:.75em;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}
a, a:visited{
	color:#369;
	text-decoration:none;
}

a:hover {
	color:#fff;
	background:#369;
	text-decoration:none;
}
h1, h2, h3 {
	margin:.8em 0 .2em 0;
	padding:0;
}
p {
	margin:.4em 0 .8em 0;
	padding:0;
}
img {
	margin:10px 0 5px;
}
#ads img {
	display:block;
	padding-top:10px;
}

/* Header styles */
#header {
	clear:both;
	float:left;
	width: 970px;
	padding-left: 15px;
	padding-right: 15px;
}
#header {
	border-bottom:1px solid #eeeeee;
} 

#header h1{
  float: left;
}

/* 'widths' sub menu */
#layoutdims {
	clear:both;
	background:#eee;
	border-top:4px solid #000;
	margin:0;
	padding:6px 15px !important;
	text-align:right;
}
/* column container */
.colmask {
	position:relative;	/* This fixes the IE7 overflow hidden bug */
	clear:both;
	float:left;
	width:100%;			/* width of whole page */
	overflow:hidden;		/* This chops off any overhanging divs */
}

/* common column settings */
.colright,
.colmid,
.colleft {
	float:left;
	width:100%;
	position:relative;
}
.col1,
.col2,
.col3 {
	float:left;
	position:relative;
	padding:0 0 10px 0;
	overflow:hidden; 
	padding-top: 15px;
}

/* 2 Column (right menu) settings */
.rightmenu {
	background:#eee;		/* right column background colour */
}
.rightmenu .colleft {
  right:0px;      /* right column width */
	background:#fff;		/* left column background colour */
}
.col1 {
  width: 980px;      /* left column content width (left column width minus left and right padding) */
  left:15px;     /* (right column width) plus (left column left padding) */
}

.rightmenu .col1 {
  width: 780px;      /* left column content width (left column width minus left and right padding) */
  left: 15px;     /* (right column width) plus (left column left padding) */
}

.rightmenu .col2 {
	width:180px;			/* right column content width (right column width minus left and right padding) */
	left: 30px;			/* (right column width) plus (left column left and right padding) plus (right column left padding) */
}
/* Footer styles */
#footer {
	clear:both;
	float:left;
	width: 970px;
	padding-left: 15px;
	padding-right: 15px;
	border-top:1px solid #eeeeee;
	text-align: center;
}
#footer p {
	padding:10px;
	margin:0;
}

/* =================================================================================================================== */
/* = App Specific ==================================================================================================== */
/* =================================================================================================================== */

.error_messages{
  width: 75%;
  border: 1px solid red;
  background: #FFEEEE;
  padding: 15px;
  margin: 15px 0;
}

.error_messages h2{
  margin-top: 0;
}

.default-form .field{
  margin-bottom: 5px;
}

.default-form .field p{
  margin:0;
}

.default-form p{
  margin:0;   
  margin-top: 15px;
}

#flash_notice{
  width: 750px;
  border: 1px solid green;
  background: #EEFFEE;
  padding: 15px;
  margin: 5px auto ;
}

#flash_alert{
  width: 750px;
  border: 1px solid red;
  background: #FFEEEE;
  padding: 15px;
  margin: 5px auto ;
}

#user_nav{
  float: right;
  padding: 5px;
  margin: 15px 0;
  border: 1px solid #EEEEEE;
}

.index-table{
  border: 1px solid #EEEEEE;
}

.index-table th{
  background: #EEEEEE;
}
.index-table .even-row{
  background: #EEEEEE;
}                       

#admin-menu{
  margin: 5px 0;
  background: #EEEEEE;
  padding: 3px;
  clear: both;       
  margin-left: 15px;
}

#admin-menu ul{
  display: block;
  list-style: none;
}

.show-table{
  border: 1px solid #EEEEEE;
}

.show-table th{
  background: #EEEEEE;
}
.show-table .odd-row{
  background: #EEEEEE;
}                       
