<div>
  <table width="100%">
    <tr>
      <td colspan="3"></td>
    </tr>
    <tr>
      <td colspan="2"><div class="textwrapper">
          <textarea class="post" name="" cols="2" rows="5"></textarea>
        </div></td>
      <td width="110px" align="center" valign="center">
        <div style="vertical-align:top">
          <%= image_tag @persona.image_url(:thumb).to_s, :height => "100" %>
          <input type="button" value="Fancy Submit Button" />
        </div></td>
    </tr>
  </table>
</div>
