<div>
  <div>
    <h1>Abraham Lincoln</h1>
  </div>
  <hr />
  <table width="100%">
    <tr>
      <td colspan="3"></td>
    </tr>
    <tr>
      <td colspan="2"><div class="textwrapper">
          <textarea class="post" name="" cols="2" rows="5"></textarea>
        </div></td>
      <td width="110px" align="center" valign="center"><div style="vertical-align:top"><img src="http://www.visitingdc.com/images/abraham-lincoln-picture.jpg" height="100" />
          <input type="button" value="Fancy Submit Button" />
        </div></td>
    </tr>
  </table>
</div>
