<div style="border:#030 thin solid; width:100%;margin:5px">
  <table width="100%">
    <tr>
      <td align="center">
        <img src="http://img2.timeinc.net/people/i/2006/celebdatabase/britneyspears/britney_spears1_300_400.jpg" height="100">
      </td>
      <td valign="middle" align="center">
        <span>You're logged in as</span><br>
        <h2>
          <span>Brit Spears</span>
        </h2>
        <div style="border:#030 thin solid; width:170px;margin:5px">
          User Info
          <hr>
          <span>Britney Spears is 5 feet and 4.25 inches tall. Her measurements are 36-25-35</span>
        </div>
      </td>
    </tr>
  </table>
</div>
