<%
  rants = local_assigns.has_key?(:rants)  ? local_assigns[:rants] : @rants
  if local_assigns.has_key?(:latest)
    div_class = "#{'class=latest'}"   
  elsif local_assigns.has_key?(:subscriber)
    div_class = "#{'class=subscriber'}" 
  else
    div_class = nil
  end
 %>
<div id="rant-container" <%= div_class %>>
  <%= render :partial => 'shared/rant_collection', :locals => {:rants => rants} %>
</div>
