<%
  rants = local_assigns.has_key?(:rants) ? local_assigns[:rants] : @rants
  css_class = local_assigns.has_key?(:css_class) ? local_assigns[:css_class] : nil
 %>
<div id="rant-container" class="<%= css_class %>">
  <%= render :partial => 'shared/rant_collection', :locals => {:rants => rants} %>
</div>   
