<%= page_title "Personas" %>

<p><%= link_to 'New Persona', new_persona_path %></p>

<table cellpadding="5" cellspacing="0" class="index-table">
	<% for personasOut in @personas.in_groups_of(4, nil) %>
	<tr>
		<% for persona in personasOut %>
	  <td>      
			<%= render :partial => 'persona_card', :locals => {:persona => persona} %>
			</td> 
			<% end %>
		</tr>  	
	<% end %>	
</table>

<p><%= link_to 'New Persona', new_persona_path %></p>