<%= page_title @persona.name %>

<%= render :partial => "persona_rant_widget/rant_widget" %>

<h2>Latest Rants</h2>
<div id="latest-rants">
  <% for rant in @persona.rants.order(:created_at.desc) %>
    <%= render :partial => "rants/rant", :locals => {:show_user_icon => true, :rant => rant} %>
  <% end %>
</div>

