<%= page_title @category.name %>

<table cellpadding="5" cellspacing="0" class="index-table">
	<% for persona in @category.personas.order(:name) %>
	<tr>
	  <td>      
			<%= render :partial => '/personas/persona_card', :locals => {:persona => persona, :show_new  => false} %>
		</td> 
	</tr>  	
	<% end %>	
</table>

<%= link_to 'Back to Listing', categories_path %> 

