<table border="0" cellspacing="0" cellpadding="0">
  <tr>
    <td valign="middle">
      <a href="/"><img src="/images/riffranter_logo_ver1.png" height="57"></a>
    </td>
    <!-- <td valign="middle">
      <span style="padding:5px;font-size:2em">Search</span> <input type="text" id="search" value="My Search Text" maxlength="30">
    </td>   -->
  </tr>
</table>
